@import '../../global.scss';

.contact {
    background-color: $light;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-weight: $mainFW + 100;
            color: $darkBlue;
        }

        .bar-h2 {
            width: 200px;
            height: 5px;
            background-color: $darkBlue;
            border-radius: 50px;
            // overflow-x: hidden;
        }

        p {
            text-align: center;
            color: #262626;
            margin-top: 25px;
        }
    }

    form {

        input, textarea {
            background-color: $ice;
            width: 250px;
            border: none;
            border-radius: 10px;
            transition: 1s;

            &:focus {
                outline: none;
            }
        } 

        .submit {
            width: 50%;
            transition: 0.5s;

            &:hover {
                background-color: $blue;
                color: $ice;
            }
        }
    }

    .copyright {
        background-color: $darkBlue;
        color: $ice;
    }
}